{% extends "base.html" %}

{% block title %} Галерея с загрузкой {% endblock %}

{% block content %}
<body>
<h1 align="center">Пейзажи Марса</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        {% for photo in photos %}
        {% set sl = loop.index %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{sl}}" class="active"
                aria-current="true" aria-label="Slide {{sl + 1}}"></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/img/f.jpg" class="d-block w-100" alt="...">
        </div>
        {% for photo in photos %}
        <div class="carousel-item">
            <img src={{photo}} class="d-block w-100" alt="...">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div></br>
<form class="login_form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="photo">Добавить картинку</label></br>
        <input type="file" class="form-control-file" id="photo" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</body>
{% endblock %}